body{
  background-color: darkred;
}
.jumbotron{
  border-style: solid;
  border-color: black;
  background-image: url(../img/pizza.jpeg);
  background-size: contain;
}
.well{
  display: none;
  background-color: #3d0001;
  color: gold;
}
#yourTotal{
  text-align: center;

}
#total{
  font-size: 200px;
  margin-left: 20%;
}
#col1{
background-color: #3d0001;
color: gold;
padding-bottom: 13px;
}
#col2{
  text-align: center;
  background-color: #3d0001;
  list-style-type: none;
  font-size: 40px;
  padding: 100px;
  padding-left: 80px;
  color: gold;
}
#bulletPoint{
  list-style-type: none;
}
#sizes{
  margin-left: 35px;
}
#name{
  margin-bottom: 50px;
  color: black;
  background-color: gold;
  font-family: fantasy;
}
#size{
  margin-bottom: 50px;
  background-color: black;
}
#size:hover{
  cursor: pointer;
}
